#sidebar {
    width:250px;
    float:right;
    padding:10px 10px 30px 10px;

}

body {
    font: 16px "Lucida Sans", "Lucida Sans Unicode", verdana, geneva, sans-serif;
    color:#000000;
    background-color: #F4F4F4;
    margin:0;
    border-top:3px solid #8BC159;
}
p.news {
    padding:20px;
    background:#D7F0B2;
    margin:10px 0;
    color:#537B17;
    border-bottom:2px solid #BCE67D;
    border-top:2px solid #BCE67D;
    font-size: 16px;
    font: "Lucida Sans";
}

.staticnews {
    padding:20px 20px 40px;
    background:#D7F0B2;
    margin:10px 0;
    color:#000099;
    border-bottom:2px solid #BCE67D;
    border-top:2px solid #BCE67D;
    font-size: 16px;
}

#navbar {
    border-bottom:1px solid #eee;
    padding:7px 0;
    margin:0;
    border-top:1px solid #eee;
    height:28px;
}

#nav {
    border-bottom:1px solid #eee;
    padding:7px 0;
    margin:0;
    border-top:1px solid #eee;
    height:28px;
}

#nav li {
    float:left;
    list-style:none;
}

#nav li a {
    color:#999;
    padding:5px 5px 7px 5px;
    background:#fff;
    font:1.6em Trebuchet MS;
    margin:1px 2px 0 0;
    font-weight:bold;
    text-decoration:none;
    display:block;
}
#nav li a:hover {
    background-color:#eee;
    color:#333;
    text-decoration:none;
}

#nav li a.active {
    background-color:#eee;
    color:#444;
    text-decoration:none;
}
h3 {
    padding:5px;
    background:#D7F0B2;
    color:#537B17;
    border-bottom:2px solid #BCE67D;
    border-top:2px solid #BCE67D;
}
p {
    padding:5px;
    background:#D7F0B2;
    color:#537B17;
    border-bottom:2px solid #BCE67D;
    border-top:2px solid #BCE67D;
    
}
.footer {  
    width:100%;
    background:#D7F0B2;
    margin:10px 0;
    color:#537B17;
    border-bottom:2px solid #BCE67D;
    border-top:2px solid #BCE67D;
    font-size: 16px;
    position:relative;
    bottom:0;
}



.button {
   border: 1px solid #0a3c59;
   background: #3e779d;
   background: -webkit-gradient(linear, left top, left bottom, from(#65a9d7), to(#3e779d));
   background: -webkit-linear-gradient(top, #65a9d7, #3e779d);
   background: -moz-linear-gradient(top, #65a9d7, #3e779d);
   background: -ms-linear-gradient(top, #65a9d7, #3e779d);
   background: -o-linear-gradient(top, #65a9d7, #3e779d);
   background-image: -ms-linear-gradient(top, #65a9d7 0%, #3e779d 100%);
   padding: 2px 4px;
   -webkit-border-radius: 6px;
   -moz-border-radius: 6px;
   border-radius: 6px;
   -webkit-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   -moz-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   text-shadow: #7ea4bd 0 1px 0;
   color: #06426c;
   font-size: 14px;
   font-family: helvetica, serif;
   text-decoration: none;
   vertical-align: middle;
   margin-left: 2px;
   margin-right: 2px;
   }
.button:hover {
   border: 1px solid #0a3c59;
   text-shadow: #1e4158 0 1px 0;
   background: #3e779d;
   background: -webkit-gradient(linear, left top, left bottom, from(#65a9d7), to(#3e779d));
   background: -webkit-linear-gradient(top, #65a9d7, #3e779d);
   background: -moz-linear-gradient(top, #65a9d7, #3e779d);
   background: -ms-linear-gradient(top, #65a9d7, #3e779d);
   background: -o-linear-gradient(top, #65a9d7, #3e779d);
   background-image: -ms-linear-gradient(top, #65a9d7 0%, #3e779d 100%);
   color: #fff;
   }
.button:active {
   text-shadow: #1e4158 0 1px 0;
   border: 1px solid #0a3c59;
   background: #65a9d7;
   background: -webkit-gradient(linear, left top, left bottom, from(#3e779d), to(#3e779d));
   background: -webkit-linear-gradient(top, #3e779d, #65a9d7);
   background: -moz-linear-gradient(top, #3e779d, #65a9d7);
   background: -ms-linear-gradient(top, #3e779d, #65a9d7);
   background: -o-linear-gradient(top, #3e779d, #65a9d7);
   background-image: -ms-linear-gradient(top, #3e779d 0%, #65a9d7 100%);
   color: #fff;
   }
#background{
    z-index: -1;
    position: fixed;
    top: 0;
    
}
#title {
    color:#000000;
    font-family: Open Sans;
    position: absolute;
    left: 125px;
    top: 50px;
  
}
.footer-dif {  
    width:100%;
    background:#D7F0B2;
    margin:10px 0;
    color:#537B17;
    border-bottom:2px solid #BCE67D;
    border-top:2px solid #BCE67D;
    font-size: 16px;
    position:fixed;
    bottom:0;
}